div#OpposingPlayspace{

    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: rgb(160, 190, 240)
}

div#playSpace{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: rgb(160, 190, 240)
}